<html>
    <head>
        <meta charset="UTF-8" />
        <title> Démo alex </title>
         <style>
         input[type=submit] {
            background-color: orange;
            color: white;
            padding: 20px 20px;
            cursor: pointer;
            margin-top: 150px;
            margin-left: 30px;
            width: 160px; 
            height: 80px
         }
         
         
      </style>

    </head>

    <body>
    			<img src="{{ url_for('video_feed') }}" height="100%" align="right">
    			

    			<form method="post" action="{{ url_for('tasks') }}">
    			<input type="submit" value="Face Detection" name="face", style="font-size: 1.1em"/>
    			</form>
    			
    			<form method="post" action="{{ url_for('tasks') }}">
    			<input type="submit" value="Home" name="home", style="font-size: 2em" />
    			</form>
    			
    </body>
</html>