body {
	font-family: sans-serif;
}

#banner {
	width: 100%;
	height: auto;
	background: #000000;
	text-align: center;
	padding: 10px;
}

h3 {
	margin: 10px;
	text-align: center;
}

#banner_logo {
	position: relative;
	float: left;
	margin-right: 50px;
}


#banner_title {
	position: relative;
	float: left;
	font-size: 40px;
	background: #000000;
	color: white
}

#live_cameras {
	height: 100%;
}

/*
#videos {
	height: 100%;
}
*/

#use_cases {
	height: 100%;
}

.live_camera {
	position: relative;
	float: left;
	text-align: center;
	padding: 10px;
	margin: 5px 0px;
}

#verticals {
	/* height: 100%; */
	overflow: scroll;
}

.vertical {
	text-align: left;
	clear: both;
}

.vertical_title {
	margin: 10px;
	padding: 5px 10px;
	text-align: left;
	background-color: #595959;
	color: white;
}


.video_file {
	position: relative;
	float: left;
	text-align: center;
	margin: 5px 0px;
}

#video {
	position: relative;
	float: left;
	width: 75%;
	text-align: center;
}

#videoflow {
	width: 100%;
	/*height: 100%;*/
	display: inline-block;
	margin: auto;
}

#videoplay {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	text-align: center;
}

#nodeslist {
	float: left;
	width: 25%;
	height: 100%;
	overflow: scroll;
}

#videosource {
	display: inline-block;
	font-family: sans-serif;
	padding: 6px 8px;
	margin-left: 10px;
	background: #FFB4E6;
	color: #000000;
	border-radius: 5px;
}

.videoflow_landscape {
	width: 100%;
	height: auto;
}

.videoflow_portrait {
	width: auto;
	height: 100%;
}

#videokpis {
	display: none;
	position: relative;
	/* width: 100%; */
	height: auto;
	background: #4BB4E6;
	margin: 10px auto;
	color: #000000;
	text-align: center;
}

#videokpis_play {
	display: none;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	/* bottom: 50px;
	padding: 10px;
	width: 100%; */
	width: max-content;
	height: auto;
	background: #4BB4E6;
	margin: 10px auto;
	color: #000000;
	text-align: center;
}

.kpi {
	position: relative;
	float: left;
	padding: 5px 10px;
	background: #4BB4E6;
	border: solid 2px;
	border-color: transparent black;
}

.kpivalue {
	display: inline-block;
	font-family: sans-serif;
	padding: 5px;
	margin-left: 10px;
	background: #9164CD;
	color: #FFFFFF;
	border-radius: 3px;
}

.node-type {
	position: relative;
}

.node {
	background-color: transparent;
	position: relative;
	float: left;
	/* width: 126px; */
	width: 200px;
	height: 170px;
	text-align: center;
	padding: 10px;
	margin: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	color: #000000;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* flip card from: https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* This container is needed to position the front and back side */
.node-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

.node-flip {
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/*.node:active .node-flip { */
/*
.node.active .node-flip {
	transform: rotateY(180deg);
}
*/

/* Position the front and back side */
.node-front, .node-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.node-front {
	background-color: #bbb;
	color: black;
}

/* Style the back side */
.node-back {
	background-color: dodgerblue;
	color: black;
	transform: rotateY(180deg);
}

/*
.node_img > img {
	width: 96px;
	height: 140px;
}
*/

.param {
	margin: 10px 0px;
	font-size: 13px;
}

.active {
	background: #FF7300;
	color: #FFFFFF
}

.button > img {
	position: relative;
	float: right;
	top: -30px;
	margin-right: 20px;
	height: 35px;
	width: auto;
}

.deactivate-button {
	position: absolute;
	bottom: 10px;
	left: 48px;
}

.ui-slider {
	margin: 8px 8px
}

.ui-slider .ui-slider-handle {
	width: 1.8em;
	text-align: center;
}

.node.candidate {
    box-shadow: 0 0 5px 5px rgba(135, 190, 80, 1.0);
    -webkit-box-shadow: 0 0 5px 5px rgba(135, 190, 80, 1.0);
}