body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
}

input[type = submit] {
            background-color: orange;
            border: none;
            text-decoration: none;
            color: white;
            padding: 20px 20px;
            margin: 20px 20px;
            cursor: pointer;
         }